@use "../../style/mixins" as mx;

.cast {
	&__wrapper {
		margin: 10px 15px;
	}

	&__table {
		display: grid;
		grid-template-rows: auto;
		row-gap: 5px;
	}
	&__row {
		&-wrapper {
			display: grid;
			grid-template-columns: 1fr repeat(2, 1.5fr);
			column-gap: 10px;
			justify-content: start;
			align-items: center;

			&:first-of-type {
				margin-bottom: 10px;
			}
		}
		&-picture {
			@include mx.setFlex(row, nowrap, unset);

			&--bold {
				font-weight: 700;
			}
		}
		&-img {
			@include mx.boxSize(50px);
			background-size: cover;
			background-position: top center;
			border-radius: 50%;
			object-fit: cover;
		}
		&-data {
			font-size: 0.8rem;
			font-weight: 500;
			color: #A7A7A7;
			
			&--opc {
				font-weight: 400;
				opacity: 0.6;
			}
		}
	}
}
