@use "../../style/mixins" as mx;

.detail {
	&__big-poster {
		@include mx.boxSize(100%);
		min-height: 200px;
		position: relative;
		overflow: hidden;
		opacity: 0.6;
	}
	&__back-btn {
		position: absolute;
		top: 20px;
		left: 15px;
		opacity: 0.5;
		transition:.9s ease;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&-ico {
			@include mx.boxSize(30px);
		}
	}
	&__widget {
		display: flex;
		background-color: var(--grey-light);

		&-date {
			@include mx.widgetProp(date);
		}
		&-rating {
			@include mx.widgetProp(rating);
			border-left-style: none;
		}
	}
	&__data {
		&-heading {
			@include mx.setFlex(row, nowrap, center, space-between);
			margin: 0 15px;
		}
		&-title {
			font-weight: 600;
			color: var(--black-default)
		}
		&-info {
			font-size: 0.6rem;
			font-weight: 700;
			color: darken($color: #B3B3B3, $amount: 10);
		}
		&-description {
			margin: 0 15px;
			font-size: 0.9rem;
			font-weight: 500;
			color: darken($color: #B3B3B3, $amount: 10);
		}
	}
}

.section-background {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
